altgraph==0.17.3
beautifulsoup4==4.11.1
bs4==0.0.1
DateTime==4.9
Datey==0.0.1
et-xmlfile==1.1.0
future==0.18.2
numpy==1.24.1
openpyxl==3.0.10
pandas==1.5.2
pefile==2022.5.30
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
python-dateutil==2.8.2
pytz==2022.7
pywin32-ctypes==0.2.0
six==1.16.0
soupsieve==2.3.2.post1
urlopen==1.0.0
zope.interface==5.5.2
